.lead__caption {
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
}
@media screen and (max-width: 1023px) {
  .lead__caption {
    max-width: 720px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  .lead__caption {
    max-width: 288px;
  }
}
